* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.v2_2 {
    width: 100%;
    height: 1024px;
    background: rgba(22, 23, 25, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v2_12 {
    width: 501px;
    height: 435px;
    background: url("../images/v2_12.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 260px;
    left: 720px;
    overflow: hidden;
}

.v2_11 {
    width: 281px;
    color: rgba(104, 95, 95, 1);
    position: absolute;
    top: 32px;
    left: 38px;
    font-family: Rationale;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: left;
}

.name {
    color: #fff;
}

.v2_14 {
    width: 281px;
    color: rgba(104, 95, 95, 1);
    position: absolute;
    top: 232px;
    left: 38px;
    font-family: Rationale;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: left;
}

.name {
    color: #fff;
}

.v2_16 {
    width: 431px;
    color: rgba(236, 183, 60, 1);
    position: absolute;
    top: 312px;
    left: 38px;
    font-family: Rationale;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: left;
}

.v2_17 {
    width: 431px;
    color: rgba(236, 183, 60, 1);
    position: absolute;
    top: 92px;
    left: 38px;
    font-family: Rationale;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: left;
}

.v3_5 {
    width: 210px;
    height: 194px;
    background: rgba(237, 182, 60, 1);
    opacity: 1;
    position: absolute;
    top: 830px;
    left: 1230px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.v2_21 {
    width: 532px;
    height: 504px;
    background: url("../images/v2_21.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 520px;
    left: 0px;
    overflow: hidden;
}

.v2_22 {
    width: 532px;
    height: 504px;
    background: rgba(14, 14, 14, 0.5);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v2_26 {
    width: 281px;
    color: rgba(236, 183, 60, 1);
    position: absolute;
    top: 228px;
    left: 126px;
    font-family: Rationale;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: center;
}

.v2_31 {
    width: 532px;
    height: 508px;
    background: url("../images/v2_31.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 0px;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    overflow: hidden;
}

.v2_23 {
    width: 532px;
    height: 520px;
    background: url("../images/v2_23.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v2_10 {
    width: 532px;
    height: 520px;
    background: rgba(14, 14, 14, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v2_24 {
    width: 281px;
    color: rgba(236, 183, 60, 1);
    position: absolute;
    top: 236px;
    left: 126px;
    font-family: Rationale;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: center;
}

.v2_33 {
    width: 522px;
    height: 524px;
    background: url("../images/v2_33.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 10px;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    overflow: hidden;
}